<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Sakana</title>
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script defer="defer" src="bundle.6cece57d5bd7d69aad8c.js"></script>
        <link href="main.css" rel="stylesheet" />
    </head>
    <body>
        <div class="loader">
            <div class="loader-clip">
                <div class="loader-fill"></div>
                <svg viewBox="0 0 249.16 245">
                    <clipPath id="shapes">
                        <path d="M9.39,236.31A36.25,36.25,0,0,1,0,225.1c0-4.49,75.52-82.87,79.84-82.87,5.8,0,21.13,14.49,20.37,19.26-.8,5-74.61,83.48-78.51,83.48a38.1,38.1,0,0,1-12.31-8.66Z" style="fill: #fff;" />
                        <path
                            d="M42.54,102.15c-7.51-5.9-13-12.39-13.1-15.45-.13-4.32,73.73-82.53,77.92-82.53a257.51,257.51,0,0,1,29.81,25.69c15.08,14.13,28.56,26.54,30,27.58,1.84,1.35,10.9-6.73,31.15-27.78C214,13.34,228.45,0,230.35,0c4.09,0,18.82,14.65,18.82,18.72,0,5.36-72.59,84-77.53,84a289.49,289.49,0,0,1-31.36-27.18,294,294,0,0,0-31.43-27.26A180.6,180.6,0,0,0,84,72.46C71.61,85.8,58.57,99,55,101.75l-6.52,5Z"
                        />
                        <path
                            d="M89.1,226.37c-3.36-2.08-6.72-12.15-6.72-20.17s-.55-7.69,45.59-23A123.44,123.44,0,0,0,151.56,174a248.38,248.38,0,0,0-21.11-22.36,302.79,302.79,0,0,1-23.11-24.54c-1.55-2.81-.3-5.49,5.63-12.06a27.59,27.59,0,0,1,10.81-8.44c3.71,0,21.88,15.56,52.34,44.82,19.77,19,21.56,21.36,21.56,28.5a15.17,15.17,0,0,1-4,11.43C189.4,195.2,130.8,216.83,106,223.7a46.58,46.58,0,0,1-16.92,2.67Z"
                        />
                    </clipPath>
                </svg>
            </div>
            <div class="loading-bar"></div>
        </div>
        <canvas class="webgl large-device"></canvas>
        <nav class="nav large-device custom-edges-reverse">
            <div class="nav-wrap flex">
                <div class="nav-main-container flex">
                    <div class="logo-container"></div>
                    <ul class="nav-items flex">
                        <li id="anchor-app" class="anchor anchor-app">L'app</li>
                        <li id="anchor-vision" class="anchor anchor-vision">La vision</li>
                        <li id="anchor-team" class="anchor anchor-team">L'équipe</li>
                        <li class="blog"><a href="https://www.sakanasport.com/blog" target="_blank">Le blog</a></li>
                    </ul>
                </div>
                <div id="anchor-join" class="anchor cta-download large-device">Télécharger l'app</div>
            </div>
        </nav>
        <div class="scroll"></div>
        <div class="screen large-device"><div class="screen-wrap"></div></div>
        <div class="asscroll-container">
            <div class="asscroll-page">
                <div class="ballons"></div>
                <div class="text" data-speed="0.2">sakana</div>
                <div class="app large-device">
                    <div class="app-wrap app-location flex">
                        <div class="app-content">
                            <h2 class="catch-phrase">Localise</h2>
                            <p class="app-description">Découvre les terrains iconiques et insolites dans toute la France. Reste informé sur le nombre de personnes en activité.</p>
                        </div>
                    </div>
                    <div class="app-wrap app-invitation flex">
                        <div class="app-content">
                            <h2 class="catch-phrase">Invite</h2>
                            <p class="app-description">Créé une partie et invite tes amis ou d’autres joueurs de basket à la rejoindre pour une pratique plus dynamique.</p>
                        </div>
                    </div>
                    <div class="app-wrap app-game flex">
                        <div class="app-content">
                            <h2 class="catch-phrase">Joue</h2>
                            <p class="app-description">Choisis un terrain et lance-toi dans des matchs avec tous les joueurs de la communauté.</p>
                        </div>
                    </div>
                </div>
                <div class="text transition" data-speed="0.2">hekki</div>
                <div class="join">
                    <div class="join-wrap wrap flex flex-column">
                        <div class="logo-min mobile-only"></div>
                        <h3 class="section-title join-title">Rejoignez-nous !</h3>
                        <div class="join-visual mobile-only"></div>
                        <p class="join-text large-device">L'application qui connecte les pratiquants et passionnés de sport dans toute la France. Rejoignez une communauté de joueurs passionnés sur les terrains autour de vous.</p>
                        <div class="cta-container">
                            <a href="https://play.google.com/store/apps/details?id=com.sakanasports" target="_blank" class="android-cta"></a>
                            <a href="https://apps.apple.com/us/app/sakana-sport/id1574508017" target="_blank" class="ios-cta"></a>
                        </div>
                    </div>
                </div>
                <div class="vision custom-edges">
                    <div class="vision-wrap wrap flex flex-column">
                        <h3 class="vision-title section-title">Notre vision</h3>
                        <div class="vision-cards-container flex flex-column">
                            <div class="vision-card location flex">
                                <span>
                                    Localisez tous<br />
                                    les terrains
                                </span>
                            </div>
                            <div class="vision-card organisation flex">
                                <span>
                                    Organisez<br />
                                    votre pratique
                                </span>
                            </div>
                            <div class="vision-card experience flex">
                                <span>
                                    Enrichissez votre<br />
                                    expérience sportive
                                </span>
                            </div>
                        </div>
                    </div>
                    <svg width="0" height="0">
                        <defs>
                            <clipPath id="semi-cercle" clipPathUnits="objectBoundingBox"><path d="M0,0 1,0 1,0.5 C 1,0.5, 0.77,1, 0.5,1 0.23,1, 0,0.5,0,0.5z" /></clipPath>
                            <clipPath id="reverse-semi-cercle" clipPathUnits="objectBoundingBox"><path d="M0,0h1v1c0,0-0.2-0.7-0.5-0.7S0,1,0,1V0z" /></clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="about">
                    <div class="about-wrap wrap flex flex-column">
                        <div class="about-content">
                            <h3 class="about-title section-title">Qui sommes-nous ?</h3>
                            <secttion class="about-description">
                                <p>Sakana rassemble une communauté de pratiquants et passionnés de sport.</p>
                                <br />
                                <p>Le but étant d’aider toute personne à trouver des lieux pour organiser et enrichir son expérience sportive.</p>
                                <br />
                                <p>Explore le monde et pars à la découverte des plus beaux terrains. Tu peux également rester connecté et t’informer sur tous les événements autour de toi.</p>
                            </secttion>
                        </div>
                        <div class="about-visual">
                            <div class="plyr__video-embed" id="player">
                                <iframe src="https://www.youtube.com/watch?v=Zg4Qhegwtm8?iv_load_policy=3&amp;modestbranding=0&amp;playsinline=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team custom-edges">
                    <div class="team-wrap wrap flex flex-column">
                        <h3 class="team-title section-title">L'équipe</h3>
                        <div class="team-container">
                            <div class="member-container">
                                <div class="member adama">
                                    <div class="member-description flex flex-column">
                                        <h5 class="member-name">Adama Toure</h5>
                                        <p class="member-role">co-founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="member-container">
                                <div class="member romain">
                                    <div class="member-description flex flex-column">
                                        <h5 class="member-name">Romain Moussilou</h5>
                                        <p class="member-role">co-founder</p>
                                    </div>
                                </div>
                            </div>
                            <div class="member-container">
                                <div class="member elmar">
                                    <div class="member-description flex flex-column">
                                        <h5 class="member-name">Elmar Tavares</h5>
                                        <p class="member-role">co-founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer flex flex-column">
                    <div class="footer-logo-container"></div>
                    <ul class="social-media flex">
                        <li class="facebook"><a href="https://www.facebook.com/Sakanasport/" target="_blank" class="fb-link"></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/sakanasport/" target="_blank" class="insta-link"></a></li>
                        <li class="linkedin"><a href="https://www.linkedin.com/company/sakanasport/about/" target="_blank" class="in-link"></a></li>
                        <li class="twitter"><a href="https://twitter.com/sakanasport" target="_blank" class="tw-link"></a></li>
                    </ul>
                </footer>
            </div>
        </div>
        <div class="asscrollbar">
            <div class="asscrollbar__handle"><div></div></div>
        </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="assets\js\javascript.js" type="text/javascript"></script>  
    </body>
</html>
